<!-- footer -->
    <div class="w3-row w3-center">
        <a href="https://www.w3schools.com/w3css/" target="_blank">W3Schools CSS layout</a>
        <p>© Copyright 2014 The Awesome People</p>
    
    </div>
    