<!DOCTYPE html>
<html>
    <head>
        <% include partials/header %>
    </head>
    <body>
          <div class="w3-container l3 w3-text-grey w3-padding" >
            <% include partials/nav %>
               
                <div class="w3-row w3-grayscale">
                   <p>about</p>
                </div>
            <% include partials/footer %>
          </div>
  </body>
</html>
  