<!DOCTYPE html>
<html>
    <head>
        <% include partials/header %>
    </head>
    <body>
          <div class="w3-container l3 w3-text-grey w3-padding" >
            <% include partials/nav %>
               
                <div class="w3-row">
                    <div class="w3-col l1">
                        <p></p>
                    </div>
                    <div class="w3-col l3">
                        <h2>Contact List</h2>
                        
                        <% contacts.forEach(function(contact) { %>
                            <div class="w3-panel w3-border w3-hover-border-teal">
                                <%= contact.name %> - <%= contact.email %>
                                <br />
                                comment - <%= contact.comment %> &ensp; &ensp; <a href="/edit-contact/<%= contact.name %>" class="w3-button w3-teal" >Edit</a>
                                <br />
                            </div>
                           
                        <% }); %>

                    </div>
                    <div class="w3-col l3">
                        <h2>&nbsp;</h2>
                        <br />
                    </div>
                    <div class="w3-col l3">
                        <h2>Add Contact</h2>
                        <br />
                        <a href="/add-contact" class="w3-button w3-teal">Add new Contact</a>
                    </div>
                </div>
            <% include partials/footer %>
          </div>
  </body>
</html>
  