<!DOCTYPE html>
<html>
    <head>
        <% include partials/header %>
    </head>
    <body>
          <div class="w3-container l3 w3-text-grey w3-padding" >
            <% include partials/nav %>
               
                <div class="w3-row w3-grayscale">
                    <div class="w3-col l1">
                        <p></p>
                    </div>
                    <div class="w3-col l3">
                        <h2>Item</h2>
                        <ul>
                            <%// p = 1 %>
                          
                                <li><%- products[p].name %> - <%- products[p].cost %></li>
                                <a href="/products" class="w3-bar-item w3-button">Products</a>
                          
                        </ul>
                    </div>
                    <div class="w3-col l3">
                        
                    </div>
                    <div class="w3-col l3">
                        
                    </div>
                </div>
            <% include partials/footer %>
          </div>
  </body>
</html>