<!DOCTYPE html>
<html>
    <head>
        <% include partials/header %>
    </head>
    <body>
          <div class="w3-container l3 w3-text-grey w3-padding" >
            <% include partials/nav %>
               
                <div class="w3-row ">
                    <div class="w3-col l1">
                        <p></p>
                    </div>
                    <div class="w3-col l3">
                        <h2>Item</h2>
                        <div class="w3-panel w3-border w3-hover-border-teal">
                            <br />
                            <%= products[p].name %> - &euro;<%= products[p].cost %>
                            <br /><br />
                            <a href="/delete-item/<%= products[p].id %>" class="w3-button w3-teal">Delete</a> &ensp; <a href="/products" class="w3-button w3-teal">Back to Products</a>
                            <br /><br />
                        </div>
                    </div>
                    <div class="w3-col l3">
                        
                    </div>
                    <div class="w3-col l3">
                        
                    </div>
                </div>
            <% include partials/footer %>
          </div>
  </body>
</html>