<!DOCTYPE html>
<html>
    <head>
        <% include partials/header %>
    </head>
    <body>
          <div class="w3-container l3 w3-text-grey w3-padding" >
            <% include partials/nav %>
               
                <div class="w3-row w3-grayscale">
                    <div class="w3-col l1">
                        <p></p>
                    </div>
                    <div class="w3-col l3">
                        <h2>Product List</h2>
                        <ul>
                            <% if (products.length > 0) { %>
                                <% products.forEach(function(product) { %>
                                    <li><%= product.id %> : <%= product.name %> - <%= product.cost %></li>
                                    <a href="/item/<%= product.id %>">view item</a>
                              
                                <% }); %>
                            <% } else{ %>
                            
                            <p>nothing to see here</p>
                            <% } %>
                            
                            
                        </ul>
                    </div>
                    <div class="w3-col l3">
                        
                    </div>
                    <div class="w3-col l3">
                        
                    </div>
                </div>
            <% include partials/footer %>
          </div>
  </body>
</html>
  