
<!DOCTYPE html>
<html>
    <head>
        <% include partials/header %>
    </head>
    <body>
          <div class="w3-container l3 w3-text-grey w3-padding" >
            <% include partials/nav %>
               
                <div class="w3-row">
                    <div class="w3-col l1">
                        <p></p>
                    </div>
                    <div class="w3-col l3">
                        <h2>File uploader</h2>
                        <!-- my original <form method="POST" action="/upload" enctype="multipart/form-data"> -->
                        <form ref="uploadForm" method="post" enctype="multipart/form-data">
                            <!-- my original <input  type="file" name="photo" /> -->
                            <input class="w3-btn" type="file" name="sampleFile" /> 
                            <input type="submit" value="upload file" />   
                        </form>
                    </div>
                    <div class="w3-col l3">
                        <h2>File download</h2>
                        <a href="/download" class="w3-button w3-teal">file download</a>
                    </div>
                    <div class="w3-col l3">
                        
                    </div>
                </div>
            <% include partials/footer %>
          </div>
  </body>
</html>